<div class="rendercontainer">
<div class="render">
  <form ng-submit="submitForm(brewery)">
    <input type="text" ng-model="brewery" name="location" placeholder="Search brewery information">
    <button type="submit">Submit</button>
  </form>
  <div ng-controller='homeCtrl'>
      <div class="name" ng-if="data.data[0]">
        {{data.data[0].name}}
        <img src="{{data.data[0].images.medium}}" alt="" />
        <div class="description">
          {{data.data[0].description}}
        </div>
      <div class="button" ng-if="data.data[0].website">
        <a href="{{data.data[0].website}}">
          <button >Go to website</button>
        </a>
        <div class="addbutton" ng-controller='favoritesCtrl'>
          <button type="submit" ng-click="addToFavorites(data.data[0].name)">Favorite!</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
